.login-button {
  background-color: #EE880E;
  color: white;
  border: none;
  border-radius: 25px; /* This will make the button corners rounded */
  padding: 10px 20px; /* This will make the button wider */
}

.login-button:hover {
  background-color: #cc6c00;
}
