<p></p>

<div class="row">
  <div class="col">
    <div class="card">
      <img src="./assets/images/imagen_recursos_0.jpg" class="card-img-top card-img-custom" alt="Imagen de ingenieria de datos">

      <div class="card-body">
        <h5 class="card-title">Ingeniería de datos</h5>
        <p class="card-text">Contenido de Ingeniería de datos</p>
        <a href="#" class="btn btn-primary resources-button">Acceder</a>
      </div>

    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="./assets/images/imagen_recursos_1.jpg" class="card-img-top card-img-custom" alt="Imagen de analisis de datos">

      <div class="card-body">
        <h5 class="card-title">Desarrollo Software</h5>
        <p class="card-text">Contenido de Desarrollo Software</p>
        <a href="#" class="btn btn-primary resources-button">Acceder</a>
     </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="./assets/images/imagen_recursos_2.jpg" class="card-img-top card-img-custom" alt="Imagen de analisis de datos">

      <div class="card-body">
        <h5 class="card-title">Análisis de datos</h5>
        <p class="card-text">Contenido de Análisis de datos</p>
        <a href="#" class="btn btn-primary resources-button">Acceder</a>
     </div>
    </div>
  </div>

  <p></p>
  <div class="col">
    <div class="card">
      <img src="./assets/images/imagen_recursos_3.jpg" class="card-img-top card-img-custom" alt="Imagen de analisis de datos">

      <div class="card-body">
        <h5 class="card-title">Calidad del dato</h5>
        <p class="card-text">Contenido de Calidad del dato</p>
        <a href="#" class="btn btn-primary resources-button">Acceder</a>
     </div>
    </div>
  </div>




</div>

<p></p>
