<p></p>

<form>
  <p></p>
  <div class="civica-text">
    <label for="name">Nombre:</label>
    <input type="text" class="form-control" id="name" required>
  </div>
  <p></p>
  <div class="civica-text">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  <p></p>
  <div class="civica-text">
    <label for="pwd">Contraseña:</label>
    <input type="password" class="form-control" id="pwd" required>
  </div>
  <p></p>
  <div class="civica-text">
    <label for="confirmPwd">Confirmar Contraseña:</label>
    <input type="password" class="form-control" id="confirmPwd" required>
  </div>
  <p></p>
  <button type="submit" class="civica-text login-button">Registro</button>
  <p></p>
</form>

<p></p>
